<h2>Brakes!</h2>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Submodel</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |brake| %>
      <tr>
        <td><%= brake.year %></td>
        <td><%= brake.year %></td>
        <td><%= brake.year %></td>
        <td><%= brake.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
